.back
.registration-form
  header
    h1 Sign Up
    p Fill in all informations
  form
    .input-section.email-section
      input(type="email" placeholder="ENTER YOUR E-MAIL HERE" autocomplete="off").email
      .animated-button
        span.icon-paper-plane
          i.fa.fa-envelope-o
        span.next-button.email
          i.fa.fa-arrow-up
    .input-section.password-section.folded
      input(type="password" placeholder="ENTER YOUR PASSWORD HERE").password
      .animated-button
        span.icon-lock
          i.fa.fa-lock
        span.next-button.password
          i.fa.fa-arrow-up
    .input-section.repeat-password-section.folded
      input(type="password" placeholder="REPEAT YOUR PASSWORD HERE").repeat-password
      .animated-button
        span.icon-repeat-lock
          i.fa.fa-lock
        span.next-button.repeat-password
          i.fa.fa-paper-plane
    .success 
      p ACCOUNT CREATED
    